.allStuff {
        background-color: rgb(200, 235, 248);
        border: 1px solid black;
        padding-left: 25px;
        width: 70%;
}     	
.navBar {
      	float: right;
        width: 30%;
        border: 2px solid rgb(35, 80, 210);
        padding-left: 20px;
        margin-right: 10px;
} 