<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" type="text/css" href="CalcCSS.css">
        <style>
        </style>

    </head>
    <body>
        
        <div class="allStuff">
            <h1>Калькулятор стоимости услуг ЖКХ</h1>
            <div class="navBar">
                <h3>Навигация</h3>
                <ul>
                    <li><a href="#hotWater">Гор.вода</a></li>
                    <li><a href="#coldWater">Хол.вода</a></li>
                   <li><a href="#electricity">Эл.энергия</a></li>
                    <li><a href="#natureGas">Газ</a></li>
                </ul>
            </div>
            <div class="services">
                <div class="hotWat">
                    <h3 id="hotWater">Горячая вода</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="hotWaterData">
                    </label>
                    <div class="answer">0 руб.</div>
                </div>
                
                <div class="coldWat">
                    <h3 id="coldWater">Холодная вода</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="coldWaterData">
                    </label>
                    <div class="answer">0 руб.</div>
                </div>

                <div  class="elect">
                    <h3 id="electricity">Эл. энергия</h3>
                    <label>Показания счетчика, киловатт-час
                        <input type="text" name="electricityData">
                    </label>
                    <div class="answer">0 руб.</div>
                </div>
                
                <div class="gas">
                    <h3 id="natureGas">Газ</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="natureGasData">
                    </label>
                    <div class="answer">0 руб.</div>
                </div>
                
            </div>
            <p><a href="http://www.admomsk.ru/web/guest/progress/rates/people/info-2016">Тарифы 2016 Омск</a></p>

            <script type="text/javascript">

                var calculate = function (param1, param2, coef) {
                    return function () {
                        var valueEl = document.querySelector(param1).value;
                        var result = document.querySelector(param2);
                        result.innerHTML = valueEl*coef + " руб.";
                    }
                };
                
                var hotWatIn = document.querySelector(".hotWat input");
                hotWatIn.addEventListener("input", calculate(".hotWat input", ".hotWat div", 88));

                var coldWatIn = document.querySelector(".coldWat input");
                coldWatIn.addEventListener("input", calculate(".coldWat input", ".coldWat div", 90));

                var electIn = document.querySelector(".elect input");
                electIn.addEventListener("input", calculate(".elect input", ".elect div", 100));

                var gasIn = document.querySelector(".gas input");
                gasIn.addEventListener("input", calculate(".gas input", ".gas div", 95));

            </script>

        </div>
        
        
    </body> 
</html>