<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" type="text/css" href="CalcCSS.css">
        <style>
        </style>

    </head>
    <body>
        
        <div class="allStuff">
            <h1>Калькулятор стоимости услуг ЖКХ</h1>
            <div class="navBar">
            	<h5>Навигация</h5>
            	<ul>
            		<li><a href="#hotWater">Гор.вода</a></li>
            		<li><a href="#coldWater">Хол.вода</a></li>
            		<li><a href="#electricity">Эл.энергия</a></li>
            		<li><a href="#natureGas">Газ</a></li>
            	</ul>
            </div>
            <div class="services">
            	<div class="hotWat">
            		<h3 id="hotWater">Горячая вода</h3>
	                <label>Показания счетчика, куб. м.
	                	<input type="text" name="hotWaterData">	
	                </label>
	                <div class="answer"></div>
            	</div>
                
                <div class="coldWat">
                    <h3 id="coldWater">Холодная вода</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="coldWaterData">
                    </label>
                    <div class="answer"></div>
                </div>

                <div  class="elect">
                    <h3 id="electricity">Эл. энергия</h3>
                    <label>Показания счетчика, киловатт-час
                        <input type="text" name="electricityData">    
                    </label>
                    <div class="answer"></div>    
                </div>    
                
                <div class="gas">
                    <h3 id="natureGas">Газ</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="natureGasData">    
                    </label>
                    <div class="answer"></div>
                </div>
                
	        </div>
	        <p><a href="http://www.admomsk.ru/web/guest/progress/rates/people/info-2016">Тарифы 2016 Омск</a></p>

	        <script type="text/javascript">
	        	
                var Calculate = function (param1, param2, coef) {            
                    var valueEl = document.querySelector(param1).value;
	        	    var result = document.querySelector(param2);
	        	    result.innerHTML = valueEl*coef + " руб.";
	        	};
                
                

                window.setInterval(Calculate(".hotWat input", ".hotWat div", 88), 100);
                window.clearInterval();

                window.setInterval(Calculate(".coldWat input", ".coldWat div", 79), 100);
                window.clearInterval();

                window.setInterval(Calculate(".elect input", ".elect div", 17), 100);
                window.clearInterval();

                window.setInterval(Calculate(".gas input", ".gas div", 8), 100);
                window.clearInterval();

	        </script>

	    </div>
        
        
    </body> 
</html>