<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" type="text/css" href="CalcCSS.css">
        <style>
        </style>

    </head>
    <body>
        
        <div class="allStuff">
            <h1>Калькулятор стоимости услуг ЖКХ</h1>
            <div class="navBar">
            	<h5>Навигация</h5>
            	<ul>
            		<li><a href="#hotWater">Гор.вода</a></li>
            		<li><a href="#coldWater">Хол.вода</a></li>
            		<li><a href="#electricity">Эл.энергия</a></li>
            		<li><a href="#natureGas">Газ</a></li>
            	</ul>
            </div>
            <div class="services">
            	<div class="hotWat">
            		<h3 id="hotWater">Горячая вода</h3>
	                <label>Показания счетчика, куб. м.
	                	<input type="text" name="hotWaterData">	
	                </label>
	                <div class="answer"></div>
            	</div>
                
                <div class="coldWat">
                    <h3 id="coldWater">Холодная вода</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="coldWaterData">
                    </label>
                    <div class="answer"></div>
                </div>

                <div  class="elect">
                    <h3 id="electricity">Эл. энергия</h3>
                    <label>Показания счетчика, киловатт-час
                        <input type="text" name="electricityData">    
                    </label>
                    <div class="answer"></div>    
                </div>    
                
                <div class="gas">
                    <h3 id="natureGas">Газ</h3>
                    <label>Показания счетчика, куб. м.
                        <input type="text" name="natureGasData">    
                    </label>
                    <div class="answer"></div>
                </div>
                
	        </div>
	        <p><a href="http://www.admomsk.ru/web/guest/progress/rates/people/info-2016">Тарифы 2016 Омск</a></p>

	        <script type="text/javascript">
	        	
                var CalculateHotW = function () {            
                    var valueEl = document.querySelector(".hotWat input").value;
	        	    var result = document.querySelector(".hotWat div");
	        	    result.innerHTML = valueEl*(14.63 + 181.6) + " руб.";
	        	};
                
                var CalculateColdW = function () {            
                    var valueEl = document.querySelector(".coldWat input").value;
                    var result = document.querySelector(".coldWat div");
                    result.innerHTML = valueEl*14.63 + " руб.";
                };

                var CalculateE = function () {            
                    var valueEl = document.querySelector(".elect input").value;
                    var result = document.querySelector(".elect div");
                    result.innerHTML = valueEl*3.56 + " руб.";
                };

                var CalculateGas = function () {            
                    var valueEl = document.querySelector(".gas input").value;
                    var result = document.querySelector(".gas div");
                    result.innerHTML = valueEl*7.43 + " руб.";
                };

                window.setInterval(CalculateHotW, 100);
                window.clearInterval();

                window.setInterval(CalculateColdW, 100);
                window.clearInterval();

                window.setInterval(CalculateE, 100);
                window.clearInterval();

                window.setInterval(CalculateGas, 100);
                window.clearInterval();

	        </script>

	    </div>
        
        
    </body> 
</html>